*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #631968;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 1em;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1 {
    margin-bottom: 0.5em;
}

h1 img {
    width: 1em;
    display:inline;
    margin-right:0.25em    
}

#items {
    margin-right: 0.5em;
}

.row {
    margin-bottom: 0.5em;
}

input, button {
    font-size: 1.5em;
    padding: 0.25em;
    border-radius: 0.25em;    
    background-color: #a456a6;
    border: solid 2px #fff;
    color: #fff;
    width: 6em;
}

::placeholder { /* Most modern browsers support this now. */
    color:    #631968;
 }
 